ssm:
    /global/CONNECTOR_BASE_URL: https://httpstat.us/422
    /global/AAA_BASE_URL: http://aaa_web_1.verisure
    /global/DYNAMO_DB_VERSION: "*"
    /connector/TRANSMITTER_TOKEN: aaaaa
    /transmitter/proxy-data-provider/dynamodb/table/Transmitter_DataProvider_Altitude_Source/stream: "*"
    /transmitter/proxy-data-provider/dynamodb/table/Transmitter_DataProvider_Altitude_Mapping/stream: "*"
    /global/pusher/APP_ID:
    /global/pusher/KEY:
    /global/pusher/SECRET:
